th{
  font-size: 20px;
  color:red;
}

*{
  font-family: monospace;
}

.poster
{
  height:"200px";
   width:"200px";
   border-radius: 10%;
   box-shadow: 1
}
.title{
  justify-content: center;
  justify-items: center;
  background-color:black;
  color:white;
}
.heading{
  justify-content: center;
  justify-items: center;
  font-size: 18px;
 font-weight: 200;
 color: blue;
  
}
.actors{
  font-size: 18px;
  color:green;
}